<StoreCache>
<DefaultStore>https://citrix.greenfood.nl/citrix/vgg/discovery</DefaultStore>
<ReconnectOnLogon>False</ReconnectOnLogon>
<ReconnectOnLaunchOrRefresh>False</ReconnectOnLaunchOrRefresh>
<SharedUserMode>True</SharedUserMode>
<FullscreenMode>0</FullscreenMode>
<SelfSelection>True</SelfSelection>
<SessionWindowedMode>False</SessionWindowedMode>
<VisibleStores>
<Store name="VGG" type="DS">
https://citrix.greenfood.nl/citrix/vgg/discovery
</Store>
</VisibleStores>
</StoreCache>
